@keyframes appearContent {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes disappearContent {
    from {
        opacity: 1;
        transform: scaleY(1);
    }
    to {
        opacity: 0;
        transform: scaleY(0);
    }
}

.collapse {
    &__title {
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        background: $main-color;
        color: white;
        font-size: 24px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__content {
        @include collapseContent;
        overflow: hidden;
        height: 0;
        opacity: 0;
        
        &--open {
            transform-origin: top;
            @include collapseContent;
            opacity: 1;
            height: 100%;
            animation: appearContent 0.7s ease-in-out;
        }

        &--close {
            transform-origin: top;
            @include collapseContent;
            opacity: 1;
            height: 100%;
            animation: disappearContent 0.7s ease-in-out forwards;
        }
    }

    &__icon {
        transition: transform 0.7s ease;

        &--open {
            transform: rotate(180deg);
        }

        &--close {
            transform: rotate(0deg);
        }
    }
}