.collapse {
    &__title {
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        background: $main-color;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        @media (max-width:768px){
            font-size: 13px;
        }
    }

    &__content {
        @include collapseContent;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1), opacity 0.7s ease-in;
        
        &--open {
            transform-origin: top;
            @include collapseContent;
            opacity: 1;
            font-size: 18px;
            max-height: 1000px;
            @media (max-width:768px){
                font-size: 13px;
            }
        }

        &--close {
            transform-origin: top;
            @include collapseContent;
            opacity: 0;
            max-height: 0;
            font-size: 18px;
            @media (max-width:768px) { 
                font-size: 13px;
            }
        }
    }

    &__icon {
        transition: transform 0.7s ease;

        &--open {
            transform: rotate(180deg);
        }

        &--close {
            transform: rotate(0deg);
        }
    }
}