// regroupe toutes les variables, mixin et style général du projet

// Général
html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}

* {
    font-family: "Monserrat", sans-serif;
}

h1, h2 {
    margin: 0;
}

a {
    text-decoration: none;
    &:visited {
        color: black;
    }
}

li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

// Variables
$main-color: #FF6060;
$color-background: #F6F6F6;

// Mixins
@mixin margin {
    margin-left: 100px;
    margin-right: 100px;
}

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin collapseContent {
    background: $color-background;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}